@page "/people"
@attribute [StreamRendering]

<PageTitle>People</PageTitle>

<h1>People</h1>

<form action="" method="get">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" name="age">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



@code {

        

    private class people()
    {
        public string? Name { get; set; }
        public int Age { get; set; }


      

    }
}
